<form>
  <div class="form-group">
    <label for="text">Answer:</label>
    {{textarea id="text" value=text class="form-control" rows="4"}}
  </div>

  <div class="form-group">
    <label for="author">Author:</label>
    {{input id="author" value=author class="form-control"}}
  </div>

  <button class="btn btn-info" {{ action "addAnswer" }}>Post answer</button>
</form>
